@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.productCard {
  width: 80%;
  margin: 3% auto;
  display: flex;
}
.hero {
  background-color: #4095c6;
  padding: 5em;
  width: 60%;
  text-align: center;
  color: white;
  margin: 2em auto;
}
.hero h1 {
  font-size: 4em;
}
.col1 {
  width: 50%;
  position: relative;
}
.col1 img {
  width: 100%;
  border: 1px solid black;
}
.col2 {
  margin:0% 5%;
  width: 50%;

}
#paymentError {
  color: red;
}
.productInfo {
  border-bottom: 1px solid #bdbab7 ;
}
.row1 form {
  display: flex;
  justify-content: space-around;
}
.row1 select {
  width: 25%;
  margin: 1em;
}
.col2 h2{
  padding: 5%;
  border-bottom:1px solid #bdbab7;
}
.productInfo {
  margin: 10%;
  
}
/* .productGrid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 5% 10%;
  margin: auto;
  margin-top: 1%;
  height: 90vh;
} */
.category__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.productRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.productRow h1 {
  display: block; 
}
#productTile {
  max-width: 40%;
  text-align: center;
  box-sizing: border-box;
  padding: 2.5%;
  transition: box-shadow 150ms ease;
}
#productTile a {
  color: inherit;
}

#productTile img {
  max-width: 100%;
  height: auto;
  margin: 5% auto;
  padding: 1%;
  border: 1px solid black;
}
#productTile img:hover {
  border: 2px solid rgb(0, 174, 255);
}

.col1 img {
  max-height: 500px;
  width: auto;
  margin: auto;
}
.cart__container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.cart__right {
  width: 25%;
  background: gray;
  box-shadow: 0 1px 5px 0 #4eb5f1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin: auto;
  color: white;
  padding: 2%;
  height:fit-content;
  vertical-align: auto;
  text-align: center;
}
.cart__right input[type=text] {
  width: 100%;
  padding: 1% 2%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid rgb(199, 199, 199);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.cart__right input[type=text]:focus {
  padding: 2% 3%; 
  border: 3px solid #4eb5f1;
}
.cart__right button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}
.cart__right button:hover {
  background-color:#4095c6;
}
.spinner-border {
  visibility:hidden;
}
.cart__left {
  width: 60%;
  height:90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 2%;
}
.cart__left::-webkit-scrollbar {
  width: 5px;
  background: transparent;  
}
.cart__left::-webkit-scrollbar-thumb {
  background: #4eb5f1;
  
}
.cartItem {
  width: 100%;
  display:flex;
  justify-content: space-around;
  background-color:darkgrey;
  border: 2px solid black;
  padding: 25px;
  align-items: center;
}
.cartItem button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#fd2b2b;
  text-align:center;
  transition: all 0.2s;
}
.item__actions {
  display: flex;
  justify-content: space-between;
}

.cartItem input[type=number] {
  width: 25%;
}
.cartItem img {
  width: 15%;
  border: 1px solid black;

}
.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.profile__container {
  display: flex;
  justify-content: space-between;
  height: 90vh;
}

.profile__left {
  width: 40%;
  margin:2%;
  height: 80vh;
  color: black;
}
.profile__left input[type=text], .profile__left input[type=password]{
  width: 80%;

}

.profile__bottom {
  margin: auto;
  color: black;
}
.profile__top {
  background-color: white;
  width: 100%;
}
.profile__top h2 {
  color: black;
}
.profile__right {
  width: 55%;
  height: 80vh;
  overflow-y: scroll;
  text-align: center;
}
.profile__right::-webkit-scrollbar {
  width: 5px;
  background: transparent;  
}
.profile__right::-webkit-scrollbar-thumb {
  background: #4eb5f1;
  
}
.order img {
  width: 15%;
}
.order {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  margin: 5%;
  padding: 3%;
  color: white; 
  box-shadow: 0 1px 5px 0 #4eb5f1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

@media screen and (max-width: 900px) {
  * {
    font-size: large;
  }
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .productCard {
    display:block;
    margin: auto;
  }
  .col1 {
    margin: auto;
    display: block;
    width: 80%;
  }
  .col2 {
    margin: auto;
    width: 80%;
  }
  .cart__right {
    width:60%;
  }
}
@media screen and (max-width: 600px) {
  *{
    font-size: small;
  }
  .hero {
    width: 90%;
  }
  .productCard {
    display:block;
  }
  .col1 {
    margin: auto;
    height: 25%;
  }
  .col1 img {
    width: 100%;
  }
  .col2 {
    width:100%;
  }
  .productRow {
    flex-wrap: wrap;
  }
  #productTile {
    max-width: 100%;
    display: block;
    margin-bottom: 5%;

  }
  #productTile button {
    display: block;
  }
  .cart__container {
    display: block;
  }
  .cart__left {
    width: 90%;
    display: block;
    margin:auto;
    height: fit-content;
  }
  .cartItem {
    margin: 3% 0%;
  }
  .item__actions {
    display: block;
  }
  .item__actions input[type=number] {
    display: block;
    margin-bottom: 10%;
    width: 40%;
  } 
  .cart__right {
    display: block;
    margin: auto;
    width: 90%;
  }
  .profile__container {
    display:block;
    height: 100vh;
    margin: auto;
  }
  .profile__left {
    margin: auto;
    width: 100%;
    height: 60vh;
    text-align: center;
  }
  .profile__left input[type=text], .profile__left input[type=password] {
    margin: auto;
  }
  .profile__top {
    text-align: center;
  }
  .profile__right {
    width: 100%;

  }
}